@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Hoteleria Mongo</h1>
    <p class="lead">No SQL</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conneccion MongoDB Asp.net  MVC  </h2>
    </div>
</div>